

body {
	font-family: "Source Sans Pro", sans-serif;
	margin: 0;
	display: grid;
	background-color: #393e41;
	color: #d3d0cb;
}

main > *:not(.index-html-header) {
  padding: 1rem;
}

.index-html-header a {
  	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	background-color: #393e41;
	padding: 1rem;
	opacity: 0.9;
}

/*blog 1 in index.html*/


.index-html-header {
	background-image: url('images/computer-2788918_640.jpg');
	color: white;
	background-size: cover; /* Gör så att bilden täcker hela containern */
  	background-position: center;
  	height: 200px;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column; 
    justify-content: flex-end;
	
	padding: 1.5rem;
}



 header > h1, header > p {
padding: 0;
margin: 0;

}

header > time p {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 1rem;
	font-weight: 800;
	margin: 0;
	padding: 0;
}






/*nav bar*/

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
}

ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	gap: 1rem;
}

/*Articles*/

	
article > img {
	width: 100%;
}

/*view more btn inside of section*/

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#view-more-btn {
	display: block;
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
	margin: 1rem;
}

#hidden-article {
	display: none;
}

/*footer*/
footer {
	margin: 0;
	background-color: grey;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	
}

footer p{
	padding: 0;
	margin: 0;
}

/*MediaQuery*/

@media (max-width: 600px) { /*smaller screens*/
	body {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 24px;
		
		}
		article {
		
		}
}

@media (min-width: 600px) { /*medium screens*/
		main { 
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}

img {
    width: auto;        /* Gör att bilden tar upp 100% av containerns bredd */
           /* Gör att bilden tar upp 100% av containerns höjd */
    object-fit: contain;  /* Sträcker ut bilden för att täcka hela container, kan beskära bild */
	
}
	
	
}


/*	----	blog1.html	----		*/
.blog1 {
	display: flex;
	flex-direction: column;
	align-content: center;
  	background-image: none;
 	
  	height: 200px;
	padding: 1rem;
}

.blog1 h1 {
	display: flex;
	font-size: 2rem;
}



/*	----	about.html	----		*/