body {
	display: grid;
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
}

/*Header*/

header {
	background-image: url('images/computer-2788918_640.jpg');
	color: white;
	background-size: cover; /* Gör så att bilden täcker hela containern */
  	background-position: center;
  	height: 200px;

	display: flex;
	flex-direction: column; 
    justify-content: flex-end;
	padding: 1rem;
}

 header > h1, header > p {
padding: 0;
margin: 0;

}

header > time p {
	color: white;
	font-weight: 400;
}



h1 {
	font-size: 1rem;
	color: rgb(165, 124, 204);
	font-weight: 800;
	margin: 0;
	padding: 0;
}



/*nav bar*/

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
}

nav > div {
	
}

ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	gap: 1rem;
}

/*Articles*/
article {
padding: 1rem;

}
	
article > img {
	width: 100%;
}

/*view more btn inside of section*/


section {
	margin: 0 auto;
	
}

#view-more-btn {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
	color: black;
}

#hidden-article {
	display: none;
}

/*footer*/
footer {
	margin: auto;
	background-color: grey;
	color: black;
	width: 100%;
	text-align: center;
}

footer p{
	padding: 0;
	margin: 0;
}

/*MediaQuery*/

@media (max-width: 600px) {
	article > img {
		
	}
}