body {
	display: grid;
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
}

header {
background-image: url('images/software-developer-6521720_640.jpg');
color: white;
background-size: cover; /* Gör så att bilden täcker hela containern */
  background-position: center;
  height: 300px;
}

header > h1, header > p {
padding: 0;
margin: 0;
font-size: 1rem;
text-align: b;
}

/*nav bar*/

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	gap: 1rem;
}

/*footer*/
footer {
	margin: auto;
	background-color: grey;
	color: black;
	width: 100%;
	text-align: center;
}

footer p{
	padding: 0;
	margin: 0;
}